/* Reset CSS */
*,
:after,
:before {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  color: white;
  background-color: rgb(27, 27, 27);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

.App {
  display: flex;
  flex-direction: column;
}
